.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.error {
	color:red;
}
.pollbody {
	width: 60%;
	margin: auto;
}
table {
	 table-layout: fixed;
	 width: 100%;
	 font-size: 20px;
}
li {
	list-style-type: none;
}
.btn {
	margin-left: 20px;
}
footer {
  font-style: italic;
}
body {
	background-color: #fff4e5;
}
.navbar-default {
  background-color: #ffd699;
}
.bar {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
}
.bar:hover {
	background-color: #ffd699;
}  
#name {
	font-size: 20px;
	color: blue;
	font-weight: bold;
	display: initial;
}